#root {

    /* background-image: url(/public/fondo-de-pantalla-1366x768.-fondo-para-computadora-azules\ \(1\).jpg); */
    /* background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat; */
    background-color: cadetblue;

}